<div class="relative">
  <input
    class="mb-2 p-3 block w-full border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
    type="text"
    [placeholder]="
      isSharedWhith ? 'Shared this ticket with ' : 'Affeced this ticket to'
    "
    [(ngModel)]="searchText"
  />

  <div
    class="absolute w-full rounded-md border p-2 flex flex-col bg-white z-50"
    *ngIf="searchText != ''"
  >
    <ng-container *ngFor="let user of usersSearched; let index = index">
      <app-badge-user
        class="hover:bg-gray-100 rounded-lg"
        [badgeUser]="user"
        [searchable]="false"
        (click)="addUser(user)"
      ></app-badge-user>
    </ng-container>
  </div>

  <ng-container *ngIf="isSharedWhith">
    <ng-container *ngFor="let user of usersShared; let index = index">
      <div class="flex flex-col gap-2">
        <app-badge-user
          [badgeUser]="user"
          [isDeleted]="roles.includes(Role.user)"
          [isDeleted]="true"
          (userDeleted)="removeUser($event)"
        ></app-badge-user>
      </div>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="!isSharedWhith">
    <app-badge-user
      [badgeUser]="userAffected"
      [isDeleted]="roles.includes(Role.user)"
      [isDeleted]="true"
      (userDeleted)="removeUser($event)"
    ></app-badge-user>
  </ng-container>
</div>
