<div class="mb-6">
  <app-breadcrumb [breadcrumb]="breadCrumb"></app-breadcrumb>
</div>

<form [formGroup]="ticketFormGroup">
  <div class="flex flex-col gap-8">
    <!-- Title -->
    <div class="flex items-center w-3/4">
      <input
        class="appearance-none bg-transparent h-full w-full text-gray-700 mr-3 p-2 leading-tight focus:outline-none text-8xl font-medium"
        type="text"
        placeholder="Title"
        aria-label="title"
        formControlName="title"
      />
    </div>

    <div class="flex gap-4">
      <div class="w-2/3 flex flex-col gap-8">
        <!-- Priority -->
        <div class="flex gap-6">
          <label
            class="flex items-center text-xl font-medium leading-6 text-gray-900 w-1/4"
          >
            Priority
          </label>

          <select
            id="underline_select"
            class="block mb-1 py-2.5 px-1 w-2/4 text-xl text-gray-500 bg-transparent border-0 border-b-2 border-gray-200 dark:text-gray-400 dark:border-gray-700 focus:outline-none focus:ring-0"
            formControlName="priority"
          >
            <option value="Low">Low</option>
            <option value="Meduim">Meduim</option>
            <option value="Height">Height</option>
          </select>
        </div>

        <!-- Type -->
        <div class="flex gap-6">
          <label
            class="flex items-center text-xl font-medium leading-6 text-gray-900 w-1/4"
          >
            Type
          </label>

          <select
            id="underline_select"
            class="block mb-1 py-2.5 px-1 w-2/4 text-xl text-gray-500 bg-transparent border-0 border-b-2 border-gray-200 dark:text-gray-400 dark:border-gray-700 focus:outline-none focus:ring-0"
            formControlName="type"
          >
            <option value="Application">Application</option>
            <option value="Incedent">Incedent</option>
            <option value="Achat">Achat</option>
          </select>
        </div>

        <!-- Description -->
        <div>
          <label
            for="description"
            class="block text-xl font-medium leading-6 text-gray-900 mb-4"
            >Description</label
          >
          <app-custom-editor formControlName="description"></app-custom-editor>
        </div>

        <!-- Upload file -->
        <div class="col-span-full cursor-pointer">
          <label class="block text-xl font-medium leading-6 text-gray-900 mb-4"
            >Upload file</label
          >
          <div
            class="mt-2 flex justify-center rounded-lg border border-dashed border-gray-900/25 px-6 py-10"
            for="file-upload"
          >
            <div class="text-center">
              <svg
                class="mx-auto h-12 w-12 text-gray-300"
                viewBox="0 0 24 24"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M1.5 6a2.25 2.25 0 012.25-2.25h16.5A2.25 2.25 0 0122.5 6v12a2.25 2.25 0 01-2.25 2.25H3.75A2.25 2.25 0 011.5 18V6zM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0021 18v-1.94l-2.69-2.689a1.5 1.5 0 00-2.12 0l-.88.879.97.97a.75.75 0 11-1.06 1.06l-5.16-5.159a1.5 1.5 0 00-2.12 0L3 16.061zm10.125-7.81a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0z"
                  clip-rule="evenodd"
                />
              </svg>
              <div class="mt-4 flex text-xl leading-6 text-gray-600">
                <label
                  class="relative rounded-md bg-white font-semibold text-indigo-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-600 focus-within:ring-offset-2 hover:text-indigo-500"
                >
                  <span>Upload a file</span>
                  <input
                    id="file-upload"
                    name="file-upload"
                    type="file"
                    class="sr-only"
                  />
                </label>
                <p class="pl-1">or drag and drop</p>
              </div>
              <p class="text-xs leading-5 text-gray-600">
                PNG, JPG, GIF up to 10MB
              </p>
            </div>
          </div>
        </div>

        <!-- action -->
        <div
          class="mt-6 flex items-center justify-end gap-x-6 border-t border-gray-900/10 pt-6"
        >
          <button
            type="button"
            class="text-sm font-semibold leading-6 text-gray-900"
          >
            Cancel
          </button>
          <button
            type="submit"
            (click)="createEditTicket(ticketFormGroup)"
            class="rounded-md bg-indigo-600 px-7 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
          >
            Save
          </button>
        </div>
      </div>
      <!-- Comments -->
      <div class="comments flex flex-col w-1/3 border rounded-lg p-3 gap-6">
        <!-- Header -->
        <div class="text-3xl dark:bg-neutral-500 font-semibold py-3">
          Comments
        </div>

        <!-- Body -->
        <ng-container *ngIf="listComments.length !== 0">
          <div
            class="body overflow-y-scroll flex flex-col gap-5 border-t border-gray-900/10 pt-3"
          >
            <div *ngFor="let comment of listComments">
              <div
                class="flex items-center text-gray-900 whitespace-nowrap dark:text-white"
              >
                <img
                  class="w-10 h-10 rounded-full"
                  src="{{ comment.user.image }}"
                  alt="Jese image"
                />
                <div class="ps-3">
                  <div class="text-base font-semibold">
                    {{ comment.user.firstName }}
                    {{ comment.user.lastName }}
                  </div>
                </div>
              </div>
              <div class="pl-12 text-sm content-comment flex flex-col gap-2">
                <div class="text-comment">
                  {{ comment.comment.text }}
                </div>
                <div class="image-comment flex gap-4">
                  <div *ngFor="let image of comment.comment.images">
                    <img src="{{ image.imageAlt }}" alt="Image Preview" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>

        <!-- Add comment -->
        <form [formGroup]="commentFormGroup">
          <div
            class="flex items-center flex-col gap-4 text-gray-900 whitespace-nowrap dark:text-white pt-6 w-full border-t border-gray-900/10"
          >
            <div class="flex items-center gap-4 w-full">
              <img
                class="w-10 h-10 rounded-full"
                src="https://flowbite.com/docs/images/people/profile-picture-5.jpg"
                alt="Jese image"
              />
              <div class="flex w-full">
                <input
                  class="appearance-none bg-transparent border-none w-full pr-3 leading-tight focus:outline-none text-sm"
                  type="text"
                  placeholder="add a comment ..."
                  aria-label="comment"
                  formControlName="text"
                />
                <!-- image -->
                <div class="hover:bg-gray-100 p-1.5 rounded-lg">
                  <input
                    type="file"
                    id="imageInput"
                    multiple
                    accept="image/*"
                    style="display: none"
                    (change)="onImageChange($event)"
                  />
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    width="16"
                    height="16"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6"
                    (click)="openFileInput()"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="m2.25 15.75 5.159-5.159a2.25 2.25 0 0 1 3.182 0l5.159 5.159m-1.5-1.5 1.409-1.409a2.25 2.25 0 0 1 3.182 0l2.909 2.909m-18 3.75h16.5a1.5 1.5 0 0 0 1.5-1.5V6a1.5 1.5 0 0 0-1.5-1.5H3.75A1.5 1.5 0 0 0 2.25 6v12a1.5 1.5 0 0 0 1.5 1.5Zm10.5-11.25h.008v.008h-.008V8.25Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z"
                    />
                  </svg>
                </div>
              </div>
            </div>

            <div class="container image-upload rounded-lg w-full">
              <div
                class="preview-container flex flex-row gap-4 overflow-x-scroll py-1"
                *ngIf="previewImages.length > 0"
              >
                <ng-container
                  *ngFor="let image of previewImages; let i = index"
                >
                  <div class="relative">
                    <img [src]="image" alt="Image Preview" />
                    <svg
                      (click)="onDeleteImage(i)"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      width="16"
                      height="16"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="w-6 h-6 cursor-pointer border"
                      style="
                        position: absolute;
                        background: white;
                        border-radius: 100%;
                        left: 88%;
                        top: 4%;
                        width: auto;
                      "
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M6 18 18 6M6 6l12 12"
                      />
                    </svg>
                  </div>
                </ng-container>
              </div>
            </div>
            <div class="flex justify-end w-full">
              <button
                (click)="addComment(commentFormGroup)"
                class="rounded-md bg-indigo-600 px-7 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                type="button"
              >
                Send
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</form>
