<div class="flex flex-row items-center justify-end gap-4 pb-6">
  <!-- style="z-index: 100" -->
  <!--  -->
  <button
    type="button"
    class="w-[2.375rem] h-[2.375rem] inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-full text-gray-500 hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:hover:bg-neutral-700"
  >
    <svg
      class="flex-shrink-0 size-4"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path d="M6 8a6 6 0 0 1 12 0c0 7 3 9 3 9H3s3-2 3-9" />
      <path d="M10.3 21a1.94 1.94 0 0 0 3.4 0" />
    </svg>
  </button>
  <!--  -->
  <div class="relative inline-flex">
    <button
      (click)="toggleDisplay()"
      type="button"
      class="hs-dropdown-toggle h-[2.375rem] inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-full text-gray-500 hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:hover:bg-neutral-700"
    >
      <app-display-image
        [docId]="user?.docId"
        [css]="
          'inline-block size-[44px] rounded-full ring-2 ring-white dark:ring-neutral-900'
        "
      ></app-display-image>
      <div class="flex flex-col gap-0.5">
        <div
          class="flex justify-start text-base font-medium text-black"
          style="line-height: 1rem"
        >
          {{ user?.firstName }} {{ user?.firstName }}
        </div>
        <div class="flex justify-start text-gray-400" style="line-height: 1rem">
          {{ user?.username }}
        </div>
      </div>
    </button>

    <div
      *ngIf="isDisplay"
      class="absolute z-50 top-[50px] right-[0] border min-w-60 bg-white shadow-md rounded-lg p-2 dark:bg-neutral-800 dark:border dark:border-neutral-700"
    >
      <div class="py-3 px-5 -m-2 bg-gray-100 rounded-t-lg dark:bg-neutral-700">
        <!-- <p class="text-sm text-gray-500 dark:text-neutral-400">Signed in as</p> -->
        <div
          class="text-sm font-medium text-gray-800 dark:text-neutral-300 mb-0"
        >
          {{ user?.email }}
        </div>
      </div>
      <div class="mt-2 py-2 first:pt-0 last:pb-0">
        <div
          class="cursor-pointer flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:ring-2 focus:ring-blue-500 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:hover:text-neutral-300"
          routerLink="profil"
          (click)="toggleDisplay()"
        >
          <svg
            class="flex-shrink-0 size-4"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z"
            />
          </svg>

          Profil
        </div>
        <div
          class="cursor-pointer flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:ring-2 focus:ring-blue-500 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:hover:text-neutral-300"
          (click)="signOut()"
        >
          <svg
            class="flex-shrink-0 size-4"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15m-3 0-3-3m0 0 3-3m-3 3H15"
            />
          </svg>

          Log out
        </div>
      </div>
    </div>
  </div>
</div>
