.test {
  min-width: 100vw;
  min-height: 100vh;
  //   background: rgb(255, 255, 255);
  //   background: linear-gradient(
  //     180deg,
  //     rgba(255, 255, 255, 1) 0%,
  //     rgba(119, 119, 119, 1) 100%
  //   );
}

.text {
  margin: 100px;
  background: hsla(0, 0%, 100%, 0.12941176470588237);
}
