<div class="test">
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae enim molestias
  iste incidunt porro distinctio officia, nostrum ipsa, temporibus vero itaque
  ad, maiores quasi eligendi quia ipsam! Ex, dignissimos velit?

  <div class="text border border-gray-500 p-4 rounded-xl m-10">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae enim
    molestias iste incidunt porro distinctio officia, nostrum ipsa, temporibus
    vero itaque ad, maiores quasi eligendi quia ipsam! Ex, dignissimos velit?
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae enim
    molestias iste incidunt porro distinctio officia, nostrum ipsa, temporibus
    vero itaque ad, maiores quasi eligendi quia ipsam! Ex, dignissimos velit?
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae enim
    molestias iste incidunt porro distinctio officia, nostrum ipsa, temporibus
    vero itaque ad, maiores quasi eligendi quia ipsam! Ex, dignissimos velit?
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae enim
    molestias iste incidunt porro distinctio officia, nostrum ipsa, temporibus
    vero itaque ad, maiores quasi eligendi quia ipsam! Ex, dignissimos velit?
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae enim
    molestias iste incidunt porro distinctio officia, nostrum ipsa, temporibus
    vero itaque ad, maiores quasi eligendi quia ipsam! Ex, dignissimos velit?
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae enim
    molestias iste incidunt porro distinctio officia, nostrum ipsa, temporibus
    vero itaque ad, maiores quasi eligendi quia ipsam! Ex, dignissimos velit?
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae enim
    molestias iste incidunt porro distinctio officia, nostrum ipsa, temporibus
    vero itaque ad, maiores quasi eligendi quia ipsam! Ex, dignissimos velit?
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae enim
    molestias iste incidunt porro distinctio officia, nostrum ipsa, temporibus
    vero itaque ad, maiores quasi eligendi quia ipsam! Ex, dignissimos velit?
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae enim
    molestias iste incidunt porro distinctio officia, nostrum ipsa, temporibus
    vero itaque ad, maiores quasi eligendi quia ipsam! Ex, dignissimos velit?
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae enim
    molestias iste incidunt porro distinctio officia, nostrum ipsa, temporibus
    vero itaque ad, maiores quasi eligendi quia ipsam! Ex, dignissimos velit?
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae enim
    molestias iste incidunt porro distinctio officia, nostrum ipsa, temporibus
    vero itaque ad, maiores quasi eligendi quia ipsam! Ex, dignissimos velit?
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae enim
    molestias iste incidunt porro distinctio officia, nostrum ipsa, temporibus
    vero itaque ad, maiores quasi eligendi quia ipsam! Ex, dignissimos velit?
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae enim
    molestias iste incidunt porro distinctio officia, nostrum ipsa, temporibus
    vero itaque ad, maiores quasi eligendi quia ipsam! Ex, dignissimos velit?
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae enim
    molestias iste incidunt porro distinctio officia, nostrum ipsa, temporibus
    vero itaque ad, maiores quasi eligendi quia ipsam! Ex, dignissimos velit?
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae enim
    molestias iste incidunt porro distinctio officia, nostrum ipsa, temporibus
    vero itaque ad, maiores quasi eligendi quia ipsam! Ex, dignissimos velit?
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae enim
    molestias iste incidunt porro distinctio officia, nostrum ipsa, temporibus
    vero itaque ad, maiores quasi eligendi quia ipsam! Ex, dignissimos velit?
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae enim
    molestias iste incidunt porro distinctio officia, nostrum ipsa, temporibus
    vero itaque ad, maiores quasi eligendi quia ipsam! Ex, dignissimos velit?
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae enim
    molestias iste incidunt porro distinctio officia, nostrum ipsa, temporibus
    vero itaque ad, maiores quasi eligendi quia ipsam! Ex, dignissimos velit?
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae enim
    molestias iste incidunt porro distinctio officia, nostrum ipsa, temporibus
    vero itaque ad, maiores quasi eligendi quia ipsam! Ex, dignissimos velit?
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae enim
    molestias iste incidunt porro distinctio officia, nostrum ipsa, temporibus
    vero itaque ad, maiores quasi eligendi quia ipsam! Ex, dignissimos velit?
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae enim
    molestias iste incidunt porro distinctio officia, nostrum ipsa, temporibus
    vero itaque ad, maiores quasi eligendi quia ipsam! Ex, dignissimos velit?
  </div>
</div>
