.active {
  color: rgb(79 70 229 / var(--tw-text-opacity)) !important;
  background-color: aliceblue;
}

.sous-active {
  border-left: 2px solid rgb(79 70 229);
  border-top-left-radius: 0;
}

.icon-active {
  border: 2px solid rgb(79 70 229 / var(--tw-text-opacity)) !important;
}

.icon {
  border: 2px solid #0f172a0d;
  padding: 6px;
  border-radius: 6px !important;
}
//
.to-gray-800 {
  --tw-gradient-to: #424242 var(--tw-gradient-to-position);
}
.from-gray-900 {
  --tw-gradient-from: #212121 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(33 33 33 / 0.7) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
.bg-gradient-to-tr {
  background-image: linear-gradient(to top right, var(--tw-gradient-stops));
}
.shadow-blur {
  box-shadow: inset 0 0 1px 1px hsla(0, 0%, 100%, 0.9),
    0 20px 27px 0 rgba(0, 0, 0, 0.05) !important;
}
.blur-background {
  box-shadow: inset 0 0 2px #fefefed1;
  -webkit-backdrop-filter: saturate(200%) blur(30px);
  backdrop-filter: saturate(200%) blur(20px);
  background-color: hsla(0, 0%, 100%, 0.8) !important;
}
