<div
  id="docs-sidebar"
  class="hs-overlay [--auto-close:lg] hs-overlay-open:translate-x-0 -translate-x-full transition-all duration-300 transform hidden fixed top-0 start-0 bottom-0 z-[60] bg-white border-e border-gray-200 pt-7 pb-10 overflow-y-auto lg:block lg:translate-x-0 lg:end-auto lg:bottom-0 [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:bg-gray-300 dark:[&::-webkit-scrollbar-track]:bg-neutral-700 dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500 dark:bg-neutral-800 dark:border-neutral-700"
>
  <div class="px-6">
    <a
      class="flex-none text-xl font-semibold dark:text-white"
      href="#"
      aria-label="Brand"
      >HelpDesk</a
    >
  </div>
  <nav
    class="hs-accordion-group p-6 w-full flex flex-col flex-wrap"
    data-hs-accordion-always-open
  >
    <ul class="space-y-2 font-medium">
      <li>
        <a
          routerLink="dashboard"
          [routerLinkActive]="['active']"
          class="flex items-center py-2 px-2.5 text-gray-700 rounded-lg dark:text-white hover:bg-gray-100 gap-x-3.5 text-sm dark:bg-neutral-700 dark:hover:bg-gray-700 group font-semibold"
        >
          <div class="icon" [routerLinkActive]="['icon-active']">
            <img src="../../../../../assets/images/dashboard.svg" />
          </div>
          Dashboard
        </a>
      </li>
      <li class="hs-accordion" id="tickets-accordion">
        <a
          class="cursor-pointer hs-accordion-toggle hs-accordion-active:text-blue-600 hs-accordion-active:hover:bg-transparent flex items-center py-2 px-2.5 text-gray-700 rounded-lg dark:text-white hover:bg-gray-100 gap-x-3.5 text-sm dark:bg-neutral-700 dark:hover:bg-gray-700 group font-semibold"
        >
          <div
            class="icon hs-accordion-active:text-blue-600 hs-accordion-active:border-2 hs-accordion-active:border-indigo-600"
            [routerLinkActive]="['icon-active']"
          >
            <img src="../../../../../assets/images/tickets.svg" />
          </div>
          Tickets Management

          <svg
            class="hs-accordion-active:block ms-auto hidden size-4 text-gray-600 group-hover:text-gray-500 dark:text-neutral-400"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="m18 15-6-6-6 6" />
          </svg>

          <svg
            class="hs-accordion-active:hidden ms-auto block size-4 text-gray-600 group-hover:text-gray-500 dark:text-neutral-400"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="m6 9 6 6 6-6" />
          </svg>
        </a>

        <div
          id="tickets-accordion"
          class="hs-accordion-content w-full overflow-hidden transition-[height] duration-300 hidden"
        >
          <ul
            class="hs-accordion-group flex flex-col gap-y-2 ml-6 border-l border-slate-200"
            data-hs-accordion-always-open
          >
            <li [routerLinkActive]="['sous-active']">
              <a
                [routerLinkActive]="['active']"
                routerLink="tickets-management/tickets"
                class="flex items-center gap-x-3.5 py-2 px-2.5 ml-3 text-gray-700 rounded-lg hover:bg-gray-100 text-sm dark:bg-neutral-700 dark:hover:bg-gray-700 group"
              >
                Tickets
              </a>
            </li>
            <li [routerLinkActive]="['sous-active']">
              <a
                [routerLinkActive]="['active']"
                routerLink="tickets-management/create-ticket"
                class="flex items-center gap-x-3.5 py-2 px-2.5 ml-3 text-sm text-gray-700 rounded-lg hover:bg-gray-100 dark:bg-neutral-800 dark:text-neutral-400 dark:hover:text-neutral-300"
              >
                Create Ticket
              </a>
            </li>
          </ul>
        </div>
      </li>
      <!-- <li class="hs-accordion" id="tickets-accordion">
        <a
          type="button"
          [routerLinkActive]="['active']"
          class="flex items-center py-2 px-2.5 text-gray-700 rounded-lg dark:text-white hover:bg-gray-100 gap-x-3.5 text-sm dark:bg-neutral-700 dark:hover:bg-gray-700 group font-semibold hover:text-indigo-500"
        >
          <div class="icon" [routerLinkActive]="['icon-active']">
            <img src="../../../../../assets/images/tickets.svg" />
          </div>
          Tickets Management

          <svg
            class="hs-accordion-active:block ms-auto hidden size-4 text-gray-600 group-hover:text-gray-500 dark:text-neutral-400"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="m18 15-6-6-6 6" />
          </svg>

          <svg
            class="hs-accordion-active:hidden ms-auto block size-4 text-gray-600 group-hover:text-gray-500 dark:text-neutral-400"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="m6 9 6 6 6-6" />
          </svg>
        </a>
        <div
          id="tickets-accordion"
          class="hs-accordion-content w-full overflow-hidden transition-[height] duration-300 hidden"
        >
          <ul
            class="hs-accordion-group pt-2 ps-2 flex flex-col gap-y-2"
            data-hs-accordion-always-open
          >
            <li>
              <a
                routerLink="tickets-management/tickets"
                [routerLinkActive]="['active']"
                class="flex items-center gap-x-3.5 py-2 px-2.5 text-gray-700 rounded-lg hover:bg-gray-100 text-sm dark:bg-neutral-700 dark:hover:bg-gray-700 group"
              >
                Tickets
              </a>
            </li>
            <li>
              <a
                routerLink="tickets-management/create-ticket"
                [routerLinkActive]="['active']"
                class="flex items-center gap-x-3.5 py-2 px-2.5 text-sm text-gray-700 rounded-lg hover:bg-gray-100 dark:bg-neutral-800 dark:text-neutral-400 dark:hover:text-neutral-300"
                (click)="navigateTo('tickets-management/create-ticket')"
              >
                Create Ticket
              </a>
            </li>
          </ul>
        </div>
      </li> -->
    </ul>
  </nav>
</div>
