<div
  id="docs-sidebar"
  class="hs-overlay [--auto-close:lg] hs-overlay-open:translate-x-0 -translate-x-full transition-all duration-300 transform hidden fixed top-0 start-0 bottom-0 bg-white border-e border-gray-200 pt-20 pb-10 overflow-y-auto lg:block lg:translate-x-0 lg:end-auto lg:bottom-0 [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:bg-gray-300 dark:[&::-webkit-scrollbar-track]:bg-neutral-700 dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500 dark:bg-neutral-800 dark:border-neutral-700"
>
  <nav
    class="hs-accordion-group p-6 w-full flex flex-col flex-wrap"
    data-hs-accordion-always-open
  >
    <ul class="space-y-2 font-medium">
      <li>
        <a
          routerLink="dashboard"
          [routerLinkActive]="['active']"
          class="pr-10 flex items-center py-2 px-2.5 text-gray-700 rounded-lg dark:text-white hover:bg-gray-100 gap-x-3.5 text-sm dark:bg-neutral-700 dark:hover:bg-gray-700 group font-semibold"
        >
          <div class="icon" [routerLinkActive]="['icon-active']">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"
              />
            </svg>
          </div>
          Dashboard
        </a>
      </li>
      <li>
        <a
          routerLink="tickets-board"
          [routerLinkActive]="['active']"
          class="pr-10 flex items-center py-2 px-2.5 text-gray-700 rounded-lg dark:text-white hover:bg-gray-100 gap-x-3.5 text-sm dark:bg-neutral-700 dark:hover:bg-gray-700 group font-semibold"
        >
          <div class="icon" [routerLinkActive]="['icon-active']">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M9 4.5v15m6-15v15m-10.875 0h15.75c.621 0 1.125-.504 1.125-1.125V5.625c0-.621-.504-1.125-1.125-1.125H4.125C3.504 4.5 3 5.004 3 5.625v12.75c0 .621.504 1.125 1.125 1.125Z"
              />
            </svg>
          </div>
          Tickets Board
        </a>
      </li>
      <li>
        <a
          routerLink="tickets"
          [routerLinkActive]="['active']"
          class="pr-10 flex items-center py-2 px-2.5 text-gray-700 rounded-lg dark:text-white hover:bg-gray-100 gap-x-3.5 text-sm dark:bg-neutral-700 dark:hover:bg-gray-700 group font-semibold"
        >
          <div class="icon" [routerLinkActive]="['icon-active']">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M16.5 6v.75m0 3v.75m0 3v.75m0 3V18m-9-5.25h5.25M7.5 15h3M3.375 5.25c-.621 0-1.125.504-1.125 1.125v3.026a2.999 2.999 0 0 1 0 5.198v3.026c0 .621.504 1.125 1.125 1.125h17.25c.621 0 1.125-.504 1.125-1.125v-3.026a2.999 2.999 0 0 1 0-5.198V6.375c0-.621-.504-1.125-1.125-1.125H3.375Z"
              />
            </svg>
          </div>
          Tickets Management
        </a>
      </li>
      <!-- For HelpDesk -->
      <li>
        <a
          routerLink="users"
          [routerLinkActive]="['active']"
          class="pr-10 flex items-center py-2 px-2.5 text-gray-700 rounded-lg dark:text-white hover:bg-gray-100 gap-x-3.5 text-sm dark:bg-neutral-700 dark:hover:bg-gray-700 group font-semibold"
        >
          <div class="icon" [routerLinkActive]="['icon-active']">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
              />
            </svg>
          </div>
          Users
        </a>
      </li>
    </ul>
  </nav>
</div>

<!-- <li class="hs-accordion" id="tickets-accordion">
        <a
          class="cursor-pointer hs-accordion-toggle hs-accordion-active:text-blue-600 flex items-center py-2 px-2.5 text-gray-700 rounded-lg dark:text-white hover:bg-gray-100 gap-x-3.5 text-sm dark:bg-neutral-700 dark:hover:bg-gray-700 group font-semibold"
        >
          <div
            class="icon hs-accordion-active:text-blue-600 hs-accordion-active:border-2 hs-accordion-active:border-indigo-600"
            [routerLinkActive]="['icon-active']"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M16.5 6v.75m0 3v.75m0 3v.75m0 3V18m-9-5.25h5.25M7.5 15h3M3.375 5.25c-.621 0-1.125.504-1.125 1.125v3.026a2.999 2.999 0 0 1 0 5.198v3.026c0 .621.504 1.125 1.125 1.125h17.25c.621 0 1.125-.504 1.125-1.125v-3.026a2.999 2.999 0 0 1 0-5.198V6.375c0-.621-.504-1.125-1.125-1.125H3.375Z"
              />
            </svg>
          </div>
          Tickets Management

          <svg
            class="hs-accordion-active:block ms-auto hidden size-4 text-gray-600 group-hover:text-gray-500 dark:text-neutral-400"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="m18 15-6-6-6 6" />
          </svg>

          <svg
            class="hs-accordion-active:hidden ms-auto block size-4 text-gray-600 group-hover:text-gray-500 dark:text-neutral-400"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="m6 9 6 6 6-6" />
          </svg>
        </a>

        <div
          id="tickets-accordion"
          class="hs-accordion-content w-full overflow-hidden transition-[height] duration-300 hidden"
        >
          <ul
            class="hs-accordion-group flex flex-col gap-y-2 ml-6 border-l border-slate-200"
            data-hs-accordion-always-open
          >
            <li [routerLinkActive]="['sous-active']">
              <a
                [routerLinkActive]="['active']"
                routerLink="tickets-management/tickets"
                class="flex items-center gap-x-3.5 py-2 px-2.5 ml-3 text-gray-700 rounded-lg hover:bg-gray-100 text-sm dark:bg-neutral-700 dark:hover:bg-gray-700 group"
              >
                Tickets
              </a>
            </li>
            <li [routerLinkActive]="['sous-active']">
              <a
                [routerLinkActive]="['active']"
                routerLink="tickets-management/create-ticket"
                class="flex items-center gap-x-3.5 py-2 px-2.5 ml-3 text-sm text-gray-700 rounded-lg hover:bg-gray-100 dark:bg-neutral-800 dark:text-neutral-400 dark:hover:text-neutral-300"
              >
                Create Ticket
              </a>
            </li>
          </ul>
        </div>
      </li> -->
<!-- <li class="hs-accordion" id="tickets-accordion">
        <a
          type="button"
          [routerLinkActive]="['active']"
          class="flex items-center py-2 px-2.5 text-gray-700 rounded-lg dark:text-white hover:bg-gray-100 gap-x-3.5 text-sm dark:bg-neutral-700 dark:hover:bg-gray-700 group font-semibold hover:text-indigo-500"
        >
          <div class="icon" [routerLinkActive]="['icon-active']">
            <img src="../../../../../assets/images/tickets.svg" />
          </div>
          Tickets Management

          <svg
            class="hs-accordion-active:block ms-auto hidden size-4 text-gray-600 group-hover:text-gray-500 dark:text-neutral-400"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="m18 15-6-6-6 6" />
          </svg>

          <svg
            class="hs-accordion-active:hidden ms-auto block size-4 text-gray-600 group-hover:text-gray-500 dark:text-neutral-400"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="m6 9 6 6 6-6" />
          </svg>
        </a>
        <div
          id="tickets-accordion"
          class="hs-accordion-content w-full overflow-hidden transition-[height] duration-300 hidden"
        >
          <ul
            class="hs-accordion-group pt-2 ps-2 flex flex-col gap-y-2"
            data-hs-accordion-always-open
          >
            <li>
              <a
                routerLink="tickets-management/tickets"
                [routerLinkActive]="['active']"
                class="flex items-center gap-x-3.5 py-2 px-2.5 text-gray-700 rounded-lg hover:bg-gray-100 text-sm dark:bg-neutral-700 dark:hover:bg-gray-700 group"
              >
                Tickets
              </a>
            </li>
            <li>
              <a
                routerLink="tickets-management/create-ticket"
                [routerLinkActive]="['active']"
                class="flex items-center gap-x-3.5 py-2 px-2.5 text-sm text-gray-700 rounded-lg hover:bg-gray-100 dark:bg-neutral-800 dark:text-neutral-400 dark:hover:text-neutral-300"
                (click)="navigateTo('tickets-management/create-ticket')"
              >
                Create Ticket
              </a>
            </li>
          </ul>
        </div>
      </li> -->
