.example-list {
  display: block;
}
.overflowx {
  overflow-x: scroll;
}
.overflowy {
  overflow-y: hidden;
  max-height: calc(100vh - 196px) !important;
}
.overflowy:hover {
  overflow-y: scroll;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 8px;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-custom-placeholder {
  min-height: 100px !important;
}

.example-container {
  min-width: 450px;
  max-width: 450px;
}

.cadre {
  background: linear-gradient(
    87deg,
    rgba(23, 37, 73, 1) 55%,
    rgba(18, 73, 193, 1) 100%
  );
}

// -------------------

.background-common {
  --tw-gradient-from: #212121 var(--tw-gradient-from-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.from-gray-100 {
  --tw-gradient-to: rgb(255 255 255 / 0.7) var(--tw-gradient-to-position);
}

.from-gray-900 {
  --tw-gradient-to: rgb(33 33 33 / 0.7) var(--tw-gradient-to-position);
}

.from-red-900 {
  --tw-gradient-to: rgb(255 0 0 / 0.7) var(--tw-gradient-to-position);
}

.from-green-900 {
  --tw-gradient-to: rgb(0 255 0 / 0.7) var(--tw-gradient-to-position);
}

.from-blue-900 {
  --tw-gradient-to: rgb(0 0 255 / 0.7) var(--tw-gradient-to-position);
}

.from-yellow-900 {
  --tw-gradient-to: rgb(255 255 0 / 0.7) var(--tw-gradient-to-position);
}

.from-purple-900 {
  --tw-gradient-to: rgb(128 0 128 / 0.7) var(--tw-gradient-to-position);
}

.bg-gradient-to-tr {
  background-image: linear-gradient(to top right, var(--tw-gradient-stops));
}

.shadow-blur {
  box-shadow: inset 0 0 1px 1px hsla(0, 0%, 100%, 0.9),
    0 20px 27px 0 rgba(0, 0, 0, 0.05) !important;
}
.blur-background {
  box-shadow: inset 0 0 2px #fefefed1;
  -webkit-backdrop-filter: saturate(200%) blur(30px);
  backdrop-filter: saturate(200%) blur(20px);
  background-color: hsla(0, 0%, 100%, 0.8) !important;
}
