<div
  class="relative h-52 rounded-xl to-gray-800 from-gray-900 bg-gradient-to-tr z-0"
></div>

<div class="flex flex-col gap-6">
  <!-- Header -->
  <div class="pl-10 flex py-4 min-w-full -mt-20 rounded-xl justify-between z-0">
    <div class="flex" [ngClass]="isProfil ? 'gap-10' : 'gap-4'">
      <div class="relative avatar-xl avatar inline-block">
        <app-display-image
          class="avatar-xl"
          [docId]="user?.docId"
          [css]="
            'w-full h-full shadow-sm-sm inline-block rounded-2xl ring-4 ring-white dark:ring-neutral-900'
          "
        ></app-display-image>

        <ng-container *ngIf="isProfil">
          <div
            class="ring-2 ring-white size-12 rounded-full border border-gray-300 bg-white absolute left-[82%] top-[74%] cursor-pointer"
            (click)="openFileInput()"
          >
            <input
              id="imageInput"
              accept="image/*"
              type="file"
              (change)="onSelectFile($event)"
              style="display: none"
            />

            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 -960 960 960"
              width="24px"
              fill="#000000"
              class="w-full h-full flex justify-center items-center p-[10px]"
            >
              <path
                d="M480-260q75 0 127.5-52.5T660-440q0-75-52.5-127.5T480-620q-75 0-127.5 52.5T300-440q0 75 52.5 127.5T480-260Zm0-80q-42 0-71-29t-29-71q0-42 29-71t71-29q42 0 71 29t29 71q0 42-29 71t-71 29ZM160-120q-33 0-56.5-23.5T80-200v-480q0-33 23.5-56.5T160-760h126l74-80h240l74 80h126q33 0 56.5 23.5T880-680v480q0 33-23.5 56.5T800-120H160Zm0-80h640v-480H638l-73-80H395l-73 80H160v480Zm320-240Z"
              />
            </svg>
          </div>
        </ng-container>
      </div>
      <div class="flex flex-col items-start justify-end">
        <div class="text-2xl font-semibold">
          {{ user?.firstName }}
          {{ user?.lastName }}
        </div>
        <div class="text-gray-500 text-base flex items-center">
          {{ user?.referenceUser }}
        </div>
      </div>
    </div>

    <ng-container *ngIf="isProfil">
      <div class="flex items-end">
        <button
          (click)="openModal()"
          type="button"
          class="h-[fit-content] ring-2 ring-white py-2 px-5 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-300 bg-white hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:hover:bg-neutral-800 text-gray-900"
        >
          <svg
            class="w-6 h-6 text-gray-800 dark:text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="square"
              stroke-linejoin="round"
              stroke-width="1.5"
              d="M7 19H5a1 1 0 0 1-1-1v-1a3 3 0 0 1 3-3h1m4-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm7.441 1.559a1.907 1.907 0 0 1 0 2.698l-6.069 6.069L10 19l.674-3.372 6.07-6.07a1.907 1.907 0 0 1 2.697 0Z"
            />
          </svg>

          Edit
        </button>
      </div>
    </ng-container>
  </div>

  <!--  -->
  <div class="flex gap-4" #div1>
    <!--  -->
    <div class="w-3/5 flex flex-col gap-4 h-[fit-content]" #div2>
      <div class="shadow-sm p-8 bg-white border rounded-xl flex gap-8 flex-col">
        <div class="border-b pb-8">
          <div
            class="leading-none text-xl font-bold text-gray-900 dark:text-white pb-2"
          >
            Profile
          </div>

          <div class="text-sm text-gray-600 dark:text-neutral-400">
            Manage your name, password and account settings.
          </div>
        </div>
        <!-- Account informations -->
        <div class="grid gap-4 border-b pb-8">
          <h5
            class="leading-none text-xl font-bold text-gray-900 dark:text-white pb-2"
          >
            Account Informations
          </h5>
          <div class="grid gap-6">
            <!-- user name -->
            <div class="grid sm:flex gap-x-20 text-base">
              <dt class="min-w-36 max-w-[200px] flex gap-2 items-start">
                <div class="text-gray-500">Username</div>
              </dt>
              <dd class="relative text-gray-500 dark:text-neutral-200">
                {{ user?.username }}
              </dd>
            </div>

            <!-- Email -->
            <div class="grid sm:flex gap-x-20 text-base">
              <dt class="min-w-36 max-w-[200px] flex gap-2 items-start">
                <div class="text-gray-500">Email</div>
              </dt>
              <dd class="relative text-gray-500 dark:text-neutral-200">
                {{ user?.email }}
              </dd>
            </div>
          </div>
        </div>
        <!-- Personal Informations -->
        <div class="grid gap-4" [ngClass]="isProfil ? 'border-b pb-8' : ''">
          <h5
            class="leading-none text-xl font-bold text-gray-900 dark:text-white pb-2"
          >
            Personal Informations
          </h5>
          <div class="grid gap-6">
            <!-- Phone Number -->
            <div class="grid sm:flex gap-x-20 text-base">
              <dt class="min-w-36 max-w-[200px] flex gap-2 items-start">
                <div class="text-gray-500">Phone Number</div>
              </dt>
              <dd class="relative text-gray-500 dark:text-neutral-200">
                {{ user?.phoneNumber }}
              </dd>
            </div>

            <!-- Join Date -->
            <div class="grid sm:flex gap-x-20 text-base">
              <dt class="min-w-36 max-w-[200px] flex gap-2 items-start">
                <div class="text-gray-500">Join Date</div>
              </dt>
              <dd class="relative text-gray-500 dark:text-neutral-200">
                {{ user?.joinDate | date : "dd-MM-yyyy" }}
              </dd>
            </div>

            <!-- Department -->
            <div class="grid sm:flex gap-x-20 text-base">
              <dt class="min-w-36 max-w-[200px] flex gap-2 items-start">
                <div class="text-gray-500">Department</div>
              </dt>
              <dd class="relative text-gray-500 dark:text-neutral-200">
                {{ user?.department?.name }}
              </dd>
            </div>

            <!-- Post -->
            <div class="grid sm:flex gap-x-20 text-base">
              <dt class="min-w-36 max-w-[200px] flex gap-2 items-start">
                <div class="text-gray-500">Post</div>
              </dt>
              <dd class="relative text-gray-500 dark:text-neutral-200">
                {{ user?.post }}
              </dd>
            </div>

            <!-- Location -->
            <div class="grid sm:flex gap-x-20 text-base">
              <dt class="min-w-36 max-w-[200px] flex gap-2 items-start">
                <div class="text-gray-500">Location</div>
              </dt>
              <dd class="relative text-gray-500 dark:text-neutral-200">
                {{ user?.location }}
              </dd>
            </div>

            <!-- About me -->
            <div class="grid sm:flex gap-x-20 text-base">
              <dt class="min-w-36 max-w-[200px] flex gap-2 items-start">
                <div class="text-gray-500">About me</div>
              </dt>
              <dd class="relative text-gray-500 dark:text-neutral-200">
                {{ user?.aboutMe }}
              </dd>
            </div>
          </div>
        </div>
        <!-- Password -->
        <form
          [formGroup]="passwordFormGroup"
          class="grid gap-4"
          *ngIf="isProfil"
        >
          <h5
            class="leading-none text-xl font-bold text-gray-900 dark:text-white pb-2"
          >
            Password
          </h5>
          <div class="">
            <label
              for="input-label-with-helper-text"
              class="block text-sm font-medium mb-2 dark:text-white"
              >Password</label
            >
            <input
              type="password"
              class="py-3 px-4 block w-full border-gray-200 rounded-lg focus:border-2 bg-gray-50 text-sm focus:outline-none border focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
              placeholder="Enter password"
              formControlName="password"
              [ngClass]="
                checkValidators('password')
                  ? 'border border-red-600'
                  : 'border border-gray-200'
              "
            />
            <span class="text-red-600" *ngIf="checkValidators('password')"
              >*Password is required.</span
            >
          </div>
          <!-- Confirm Password -->
          <div class="">
            <label
              for="input-label-with-helper-text"
              class="block text-sm font-medium mb-2 dark:text-white"
              >Confirm password</label
            >
            <input
              formControlName="confirmPassword"
              type="password"
              class="py-3 px-4 block w-full border-gray-200 rounded-lg focus:border-2 bg-gray-50 text-sm focus:outline-none border focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
              placeholder="Confirm password"
              [ngClass]="
                checkValidators('confirmPassword')
                  ? 'border border-red-600'
                  : 'border border-gray-200'
              "
            />
            <span
              class="text-red-600"
              *ngIf="passwordFormGroup.errors?.['passwordMismatch']"
              >*Passwords do not match.</span
            >
          </div>
          <button
            (click)="changePassword()"
            [disabled]="passwordFormGroup.invalid"
            type="button"
            class="w-[fit-content] py-2 px-4 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none"
          >
            Change
          </button>
        </form>
      </div>
      <!--  -->
      <div
        *ngIf="!isProfil"
        class="shadow-sm p-8 bg-white border rounded-xl flex gap-4 flex-col"
      >
        <h5
          class="leading-none text-xl font-medium text-gray-900 dark:text-white pb-2"
        >
          Desactivate Account
        </h5>
        <!-- Phone Number -->
        <div class="grid sm:flex gap-x-20 text-base">
          <dt class="min-w-36 max-w-[200px] flex gap-2 items-start">
            <div class="text-gray-500">Account Status</div>
          </dt>
          <ng-container *ngIf="user?.enabled; else accountDesactivated">
            <dd class="relative text-gray-500 dark:text-neutral-200 grid gap-1">
              <button
                (click)="desactivateAccount()"
                type="button"
                class="w-[fit-content] py-2 px-4 inline-flex items-start text-sm font-medium rounded-lg border border-gray-200 bg-white hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:hover:bg-neutral-800 text-red-500"
              >
                Desactivate Account
              </button>
              <p>
                This will immediately delete all of your data. This action is
                not reversible, so please continue with caution.
              </p>
            </dd>
          </ng-container>
          <ng-template #accountDesactivated>
            <div class="text-red-600 text-lg font-medium">
              This Account Is Deactivated.
            </div>
          </ng-template>
        </div>
      </div>
      <!--  -->
      <!-- <ng-container *ngIf="roles?.includes(Role.admin) || isProfil">
        <app-advanced-rating-helpdesk></app-advanced-rating-helpdesk>
      </ng-container> -->
    </div>

    <!-- Activity -->
    <div
      #div3
      class="flex gap-8 flex-col w-2/5 p-4 bg-white border border-gray-200 rounded-xl shadow-sm"
    >
      <h5
        class="leading-none text-2xl font-bold text-gray-900 dark:text-white pb-2"
      >
        Recent Activity
      </h5>
      <!-- Timeline -->
      <div class="overflow-y-scroll">
        <div
          *ngFor="let activity of recentActivities; let last = last"
          class="flex gap-x-3"
        >
          <!-- Left Content -->
          <div class="w-16 text-end">
            <span
              class="text-xs text-gray-500 dark:text-neutral-400 whitespace-pre"
              >{{ activity.time | date : "dd-MM-yyyy" }}</span
            >
          </div>

          <!-- Icon -->
          <div
            class="relative last:after:hidden after:absolute after:top-7 after:bottom-0 after:start-3.5 after:w-px after:-translate-x-[0.5px] dark:after:bg-neutral-700"
            [ngClass]="last ? '' : 'after:bg-gray-200'"
          >
            <div class="relative size-7 flex justify-center items-center">
              <div
                class="size-2 rounded-full bg-gray-400 dark:bg-neutral-600"
              ></div>
            </div>
          </div>

          <!-- Right Content -->
          <div class="grow pt-0.5" [ngClass]="last ? 'pb-2' : 'pb-8'">
            <div
              class="flex justify-between items-start gap-3 border rounded-lg p-2"
            >
              <div class="flex flex-col gap-1 w-full">
                <h4
                  class="flex gap-x-1.5 font-medium text-xs items-center text-gray-500 dark:text-white"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="size-5"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M16.5 6v.75m0 3v.75m0 3v.75m0 3V18m-9-5.25h5.25M7.5 15h3M3.375 5.25c-.621 0-1.125.504-1.125 1.125v3.026a2.999 2.999 0 0 1 0 5.198v3.026c0 .621.504 1.125 1.125 1.125h17.25c.621 0 1.125-.504 1.125-1.125v-3.026a2.999 2.999 0 0 1 0-5.198V6.375c0-.621-.504-1.125-1.125-1.125H3.375Z"
                    />
                  </svg>
                  {{ activity.ticket.reference }}
                </h4>
                <!-- TICKET_CREATED -->
                <ng-container *ngIf="activity.typeActivity == 'TICKET_CREATED'">
                  <div
                    class="flex gap-x-1.5 font-semibold text-gray-800 dark:text-white"
                  >
                    Created this ticket
                  </div>
                  <div
                    class="p-3 text-xs font-normal rounded-lg bg-gray-50 dark:bg-gray-600 dark:border-gray-500 dark:text-gray-300"
                  >
                    {{ activity.ticket?.title }}
                  </div>
                </ng-container>
                <!-- COMMENT -->
                <ng-container *ngIf="activity.typeActivity == 'COMMENT'">
                  <div
                    class="flex gap-x-1.5 font-semibold text-gray-800 dark:text-white"
                  >
                    Add comment
                  </div>
                  <div
                    class="p-3 text-xs font-normal border border-gray-200 rounded-lg bg-gray-50 dark:bg-gray-600 dark:border-gray-500 dark:text-gray-300"
                  >
                    {{ activity.comment }}
                  </div>
                </ng-container>
                <!-- Status Changed -->
                <ng-container *ngIf="activity.typeActivity == 'STATUS_CHANGED'">
                  <div class="flex flex-row gap-x-1.5">
                    <div
                      class="flex items-center font-semibold text-gray-800 dark:text-white"
                    >
                      Changed status to
                    </div>
                    <app-badge-status
                      [badgeStatus]="activity.status"
                    ></app-badge-status>
                  </div>
                </ng-container>
                <!-- SHARED_WITH -->
                <ng-container *ngIf="activity.typeActivity == 'SHARED_WITH'">
                  <div
                    class="flex gap-x-1.5 font-semibold text-gray-800 dark:text-white"
                  >
                    Shared ticket with
                  </div>
                  <div class="flex flex-col gap-2">
                    <app-badge-user
                      *ngFor="let helpDesk of activity.shared_with"
                      [isDeleted]="false"
                      [badgeUser]="helpDesk"
                    ></app-badge-user>
                  </div>
                </ng-container>
                <!-- ASSIGNED_TO -->
                <ng-container *ngIf="activity.typeActivity == 'ASSIGNED_TO'">
                  <div class="flex flex-row gap-x-1.5">
                    <div
                      class="flex items-center font-semibold text-gray-800 dark:text-white"
                    >
                      Affected ticket to
                    </div>
                    <app-badge-user
                      [isDeleted]="false"
                      [badgeUser]="activity.assignedTo"
                    ></app-badge-user>
                  </div>
                </ng-container>
              </div>
              <button
                [routerLink]="['/tickets/detail', activity.ticket.id]"
                type="button"
                class="ring-2 ring-white py-2 px-3 inline-flex items-start gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:hover:bg-neutral-800 text-gray-900"
              >
                View
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- End Timeline -->
    </div>
  </div>
</div>

<!-- pop up -->
<app-edit-profil-user-popup
  *ngIf="isModalOpen"
  (closeModalEvent)="closeModal()"
>
  <!-- Modal content -->
  <div class="w-3/5 relative bg-white rounded-xl shadow dark:bg-gray-700">
    <!-- Modal header -->
    <div
      class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600"
    >
      <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
        Edit profil
      </h3>
      <button
        type="button"
        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
        (click)="closeModal()"
      >
        <svg
          class="w-3 h-3"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
          />
        </svg>
      </button>
    </div>

    <!-- Modal body -->
    <form [formGroup]="profilUserFormGroup" class="p-4 md:p-5 grid gap-6">
      <!--  -->
      <div class="grid md:grid-cols-2 gap-12">
        <!-- First name -->
        <div class="sm:items-start w-full">
          <label
            for="input-label-with-helper-text"
            class="block text-sm font-medium mb-2 dark:text-white"
            >First name</label
          >
          <input
            class="py-3 px-4 block w-full border-gray-200 rounded-lg focus:border-2 bg-gray-50 text-sm focus:outline-none border focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
            placeholder="Enter first name"
            formControlName="firstName"
            [ngClass]="
              checkValidators('firstName')
                ? 'border border-red-600'
                : 'border border-gray-200'
            "
          />
          <span class="text-red-600" *ngIf="checkValidators('firstName')"
            >*First name is required</span
          >
        </div>

        <!-- Last name -->
        <div class="sm:items-start w-full">
          <label
            for="input-label-with-helper-text"
            class="block text-sm font-medium mb-2 dark:text-white"
            >Last name</label
          >
          <input
            class="py-3 px-4 block w-full border-gray-200 rounded-lg focus:border-2 bg-gray-50 text-sm focus:outline-none border focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
            placeholder="Enter last name"
            formControlName="lastName"
            [ngClass]="
              checkValidators('lastName')
                ? 'border border-red-600'
                : 'border border-gray-200'
            "
          />
          <span class="text-red-600" *ngIf="checkValidators('lastName')"
            >*Last name is required</span
          >
        </div>
      </div>

      <!--  -->
      <div class="grid md:grid-cols-2 gap-12">
        <!-- Phone Number -->
        <div class="sm:items-start w-full">
          <label
            for="input-label-with-helper-text"
            class="block text-sm font-medium mb-2 dark:text-white"
            >Phone number</label
          >
          <input
            class="py-3 px-4 block w-full border-gray-200 rounded-lg focus:border-2 bg-gray-50 text-sm focus:outline-none border focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
            placeholder="Enter phone number"
            formControlName="phoneNumber"
          />
        </div>

        <!-- Location -->
        <div class="sm:items-start w-full">
          <label
            for="input-label-with-helper-text"
            class="block text-sm font-medium mb-2 dark:text-white"
            >Location</label
          >
          <input
            class="py-3 px-4 block w-full border-gray-200 rounded-lg focus:border-2 bg-gray-50 text-sm focus:outline-none border focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
            placeholder="Enter location"
            formControlName="location"
          />
        </div>
      </div>

      <!--  -->
      <div class="grid md:grid-cols-2 gap-12">
        <!-- Post -->
        <div class="sm:items-start w-full">
          <label
            for="input-label-with-helper-text"
            class="block text-sm font-medium mb-2 dark:text-white"
            >Post</label
          >
          <input
            class="py-3 px-4 block w-full border-gray-200 rounded-lg focus:border-2 bg-gray-50 text-sm focus:outline-none border focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
            placeholder="Enter Post"
            formControlName="post"
          />
        </div>

        <!-- Department -->
        <div class="sm:items-start w-full">
          <label
            for="input-label-with-helper-text"
            class="block text-sm font-medium mb-2 dark:text-white"
            >Department</label
          >
          <select
            class="py-3 px-4 block w-full border-gray-200 rounded-lg focus:border-2 bg-gray-50 text-sm focus:outline-none border focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
            formControlName="departmentDto"
          >
            <option
              *ngFor="let department of departments"
              [ngValue]="department.name"
            >
              {{ department.name }}
            </option>
          </select>
        </div>
      </div>

      <!-- About me -->
      <div class="grid md:grid-cols-1">
        <div class="sm:items-start w-full">
          <label
            for="input-label-with-helper-text"
            class="block text-sm font-medium mb-2 dark:text-white"
            >About me</label
          >
          <textarea
            class="py-3 px-4 block w-full border-gray-200 rounded-lg focus:border-2 bg-gray-50 text-sm focus:outline-none border focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
            placeholder="Enter Post"
            formControlName="aboutMe"
          ></textarea>
        </div>
      </div>
    </form>

    <!-- Modal footer / actions  -->
    <div
      class="flex items-center justify-end p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600"
    >
      <button
        [disabled]="profilUserFormGroup.invalid"
        (click)="updateProfil()"
        type="button"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Save changes
      </button>
      <button
        (click)="closeModal()"
        type="button"
        class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
      >
        Cancel
      </button>
    </div>
  </div>
</app-edit-profil-user-popup>
